html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #1E7AC2;
}

.navbar-brand img {
  height: 80px;

}

.btn-logout {
  background-color: #F77F2E;
  color: white;
}

.btn-logout:hover {
  background-color: white;
  color: black;
}

/* Main Content */
.container-content {
  flex-grow: 1; /* Expands to push footer down */
}

/* Question Card */
.card {
  border-radius: 1rem;
  background-color: #1E7AC2;
}
.form-select {
  width: 150px;  /* Set a fixed width */
}

/* Footer */
.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #555;
  width: 100%;
}