body {
  background-color: white;
  color: black;
  h1{
    font-weight: 700;
    font-size: 34px;
    padding-bottom: 20px;
    color: #1E7AC2;
  }
  h2{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 10px;
    color: #1E7AC2;
  }
}

.navbar {
  background-color: #1E7AC2;
}

.navbar-brand img {
  height: 80px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white !important;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}
.nav-item{
  margin-right: 1.5rem;
}
.btn{
  font-weight: 600;
}

.btn-logout {
  background-color: #F77F2E;
  color: white;
  font-weight: 700;
}
.btn-logout:hover {
  background-color: red !important;
  color: white;
}
.edit-btn{
  background-color: #F77F2E !important;
  color: #f8f9fa;
}
.edit-btn:hover{
  background-color: white !important;
  color: black;
  border: 1px solid black;
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh !important;
}
.btn-custom:hover {
  background-color: #F77F2E;
  color: white;
  border: 2px solid #F77F2E;
}
.btn-custom {
  width: 200px;
  margin: 10px;
  border: 2px solid #1E7AC2;
  color: black;

}

.btn-custom:hover {
  background-color: #F77F2E;
  color: white;
}

.bg-color {
  background-color: #1E7AC2;
  color: white !important;
}
.index-content{
  padding: 0 10rem;
}
.footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #555;
  width: 100%;
}

/* Responsive Design */
@media(max-width: 1050px) {
  .container-content{
    height: 38vh !important;
  }
}
@media(max-width: 568px) {
  .container-content{
    height: 56vh !important;
  }
}